@model AdminUserManageVM
@functions {
    public string IsValidField(string Key, ModelStateDictionary modelState)
    {
        return modelState.TryGetValue(Key, out var entry) && entry.Errors.Count > 0 ? "is-invalid" : "";
    }
}
<div class="modal-content">
    <div class="modal-header border-bottom-0">
        <h1 class="modal-title fs-5" id="">
            @if(Model.UserId != null)
            {
                <span>Update User</span>
            }
            else
            {
                <span>Add New User</span>
            }
            </h1>
        <button type="button" class="btn-close cancel-action-btn" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body" id="vt-addOrUpdate-timesheet-modalBody">
        <form id="addOrUpdate-user-form" method="post" enctype="multipart/form-data">
            <div class="container-fluid">
                <div class="row g-4">
                    <div class="col-12 col-md-4 col-lg-3 mb-3">
                        <div class="up-side-container row row-cols-2 row-cols-md-1 g-3 m-0 align-items-center py-md-5 px-md-3 py-3 px-2">
                            <input asp-for="NewUserAvatar" hidden />
                            <div class="col-5 col-md-12 up-avatar-name-wrapper content-center flex-column gap-2">
                                <div class="up-user-avatar position-relative" id="up-user-avatar" data-bs-toggle="" data-bs-placement="bottom" data-bs-title="Change Profile Picture">
                                    <input asp-for="Avatar" hidden/>
                                    <label for="NewUserAvatar">
                                        @if (Model.Avatar != null)
                                        {
                                            <img src="@Model.Avatar" class="img-fluid" id="user-avatar-preview">
                                        }
                                        else
                                        {
                                            <img src="~/assets/user-profile-avatar.svg" class="img-fluid" id="user-avatar-preview">
                                        }
                                        <div class="up-user-avatar-hover content-center flex-column position-absolute top-50 start-50 translate-middle rounded-circle w-100 h-100">
                                            <i class="bi bi-camera lg-icon"></i>
                                            <span class="user-avatar-hover-text px-3 text-center">Change Profile Picture</span>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 col-lg-9">
                        <div class="title-underline-wrapper mb-3">
                            <h4 class="title pb-3">Basic Information</h4>
                        </div>
                        <input asp-for="UserId" hidden />
                        <div class="up-basic-information-container row g-4 mb-5">
                            <div class="input-container col-12 col-lg-6">
                                <label asp-for="FirstName" class="form-label"></label>
                                <input asp-for="FirstName" class="form-control input @IsValidField("FirstName", ViewData.ModelState)" placeholder="Enter User First name">
                                <span asp-validation-for="FirstName" class="invalid-feedback"></span>
                            </div>
                            <div class="input-container col-12 col-lg-6">
                                <label asp-for="LastName" class="form-label"></label>
                                <input asp-for="LastName" class="form-control input @IsValidField("LastName", ViewData.ModelState)" placeholder="Enter User Last name">
                                <span asp-validation-for="LastName" class="invalid-feedback"></span>
                            </div>
                            <div class="input-container col-12 col-lg-6">
                                <label asp-for="Email" class="form-label"></label>
                                <input asp-for="Email" class="form-control input @IsValidField("Email", ViewData.ModelState)" placeholder="Enter User Email">
                                <span asp-validation-for="Email" class="invalid-feedback"></span>
                            </div>
                            <div class="input-container col-12 col-lg-6">
                                <label asp-for="PhoneNumber" class="form-label"></label>
                                <input asp-for="PhoneNumber" class="form-control input @IsValidField("PhoneNumber", ViewData.ModelState)" placeholder="Enter User Phone number">
                                <span asp-validation-for="PhoneNumber" class="invalid-feedback"></span>
                            </div>
                            <div class="input-container col-12 col-lg-6">
                                <label asp-for="EmployeeId" class="form-label"></label>
                                <input asp-for="EmployeeId" class="form-control input @IsValidField("EmployeeId", ViewData.ModelState)" placeholder="Enter User's Employeed ID">
                                <span asp-validation-for="EmployeeId" class="invalid-feedback"></span>
                            </div>
                            <div class="input-container col-12 col-lg-6">
                                <label asp-for="Department" class="form-label"></label>
                                <input asp-for="Department" class="form-control input @IsValidField("Department", ViewData.ModelState)" placeholder="Enter User's Department">
                                <span asp-validation-for="Department" class="invalid-feedback"></span>
                            </div>
                            <div class="input-container col-12 col-lg-6">
                                <label asp-for="Status" class="form-label"></label>
                                <select asp-for="Status" class="form-select input @IsValidField("Status", ViewData.ModelState)">
                                    <option value="1">Active</option>
                                    <option value="0">InActive</option>
                                </select>
                                <span asp-validation-for="Status" class="invalid-feedback"></span>
                            </div>
                            <div class="input-container col-12">
                                <label asp-for="ProfileText" class="form-label"></label>
                                <textarea asp-for="ProfileText" class="form-control input @IsValidField("ProfileText", ViewData.ModelState)" placeholder="Enter profile text"></textarea>
                                <span asp-validation-for="ProfileText" class="invalid-feedback"></span>
                            </div>
                        </div>
                        <div class="title-underline-wrapper mb-3">
                            <h4 class="title pb-3">Address Information</h4>
                        </div>
                        <div class="up-address-information-container row g-4 mb-5">
                            <div class="input-container col-12 col-lg-6">
                                <label asp-for="CountryId" class="form-label"></label>
                                <select asp-for="CountryId" class="form-select input @IsValidField("CountryId", ViewData.ModelState)">
                                    <option value="">-- Select User Country --</option>
                                    @foreach (var country in ViewBag.Countries)
                                    {
                                        <option value=@country.CountryId>@country.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="CountryId" class="invalid-feedback"></span>
                            </div>
                            <div class="input-container col-12 col-lg-6">
                                <label asp-for="CityId" class="form-label"></label>
                                <select asp-for="CityId" class="form-select input @IsValidField("CityId", ViewData.ModelState)">
                                    @if (Model.UserId != null)
                                    {
                                        <option value="">-- Select User City --</option>
                                        foreach (var city in ViewBag.CountryCities)
                                        {
                                            <option value="@city.CityId">@city.Name</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="CityId" class="invalid-feedback"></span>
                            </div>
                        </div>
                        @if(Model.UserId == null)
                        {
                            <div class="title-underline-wrapper mb-3">
                                <h4 class="title pb-3">Confidential Information</h4>
                            </div>
                            <div class="up-address-information-container row g-4 mb-5">
                                <div class="input-container col-12 col-lg-6">
                                    <label asp-for="Password" class="form-label"></label>
                                    <div class="input-group">
                                        <input type="password" asp-for="Password" class="form-control input @IsValidField("Password", ViewData.ModelState)" placeholder="Enter Password" />
                                        <button class="btn rounded-end-2 btn-outline-light border-start-0" type="button" id="password-visible-btn">
                                            <i id="password-visible-icon" class="bi bi-eye rg-icon"></i>
                                            <i id="password-invisible-icon" class="bi bi-eye-slash rg-icon d-none"></i>
                                        </button>
                                        <span asp-validation-for="Password" class="invalid-feedback"></span>
                                    </div>
                                </div>
                                <div class="input-container col-12 col-lg-6">
                                    <label asp-for="ConfirmPassword" class="form-label"></label>
                                    <input type="password" asp-for="ConfirmPassword" class="form-control input @IsValidField("ConfirmPassword", ViewData.ModelState)" />
                                    <span asp-validation-for="ConfirmPassword" class="invalid-feedback"></span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer border-0">
        <button type="button" class="btn secondary-btn cancel-action-btn" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn primary-btn px-4" id="user-save-btn" form="addOrUpdate-user-form">
            <span class="btn-loader spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
            <span class="btn-content">Save</span>
            <span class="btn-loader d-none">Please wait...</span>
        </button>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.minForCI.js"></script>
